*{
    margin:0;
    padding:0;
    font-family:'Open Sans', sans-serif;
    /* overflow-x: hidden; */
}
html{
  width: 100%;
  overflow-x: hidden;
}
.logo
{
   /* height: 100%; */
   width: 200px;
   margin-left: 30px;
   padding-left: 30px;
}

.main_nav a{
  color:white;
}
.navbar ul{
  margin-left: auto;
}
nav
{
    width: 100%;
    height: 70px;
    background-color:white;
    position: fixed;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 30%);
}
nav ul li a
{
   text-decoration: none;
   color: #004289;
   padding:5px;
   transition: width 0.5s;
   font-size: 18px;
   margin-right: 20px;
}
nav ul li a::after
{
  color: #004289;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}
nav ul li a:hover::after
{
  width: 50%;
}
@media (max-width: 990px) {
  .mob_nav{
    background-color: rgba(68, 68, 68, 0.747);
    color:white;
    border-radius: 10px;
    padding-left: 30px ;
  }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-attachment:scroll; 
  background-repeat: no-repeat; background-size: 100% 40%; background-position: bottom;
}

#hero .container {
  padding-top: 50px;
  width: 100%;
}

#hero h1 {
  margin: 0 0 10px 30px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: rgb(7, 19, 180);
 
}

#hero h2 {
  color: rgba(7, 19, 180, 0.438);
  margin:0 0 50px 30px;
  font-size: 24px;
}
.hero-button
{
  margin-bottom: 30px;
}
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 45px;
  color: rgb(34, 13, 155);
  
  border: 2px solid rgb(34, 13, 155);
  margin-left:30px;
}

#hero .btn-get-started:hover {
  background: rgb(10, 8, 168);
  color:white;
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100%;
    text-align: center;
    width: 100%;
  }
  #hero .container, #hero .container-fluid {
    padding-top: 68px;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    margin-left: 0;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .logo
  {
      width: 150px;
  }
  .navbar-collapse
  {
     background-color:#6e88dfa6;
     padding-left: 20px;
  }
  #hero
  {
    height: 100%;
  }
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-register {
    font-size: 16px;
    padding: 10px 5px 11px 5px;
    margin-bottom: 20px;
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
  

/* ------------------------------------------------ */
/* ----------------- RESOURCE PAGE      ----------- */
/* ------------------------------------------------ */
.resource
{
   height: 100%;
   width: 100%;
   padding:60px;
   font-family:'Roboto', sans-serif;
}

.nav_resource{
  flex-direction: row;
  justify-content:center;
   margin:10px;
}
.nav_button{
   width:200px;
   text-align: center;
   border: 2px solid #2454c1;
   margin:10px;
   border-radius: 50px;
}

.nav_button:hover{
  font-weight: bold;
  box-shadow: 5px 5px 5px grey;
  transition: 0.2s ease-in-out;
}

/* -------PLAYER------ */

.card_inside{
  border-radius: 0 0 20px 20px;
  margin:2px;
  padding:0px;
  width:32%;
  overflow: hidden;
  transition: 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card_inside:hover{
  box-shadow: 0 8px 10px 0 rgba(113, 210, 255, 0.63);
  transition: 0.5s ease;
}
/* Float four columns side by side */
.column_inside {
  float: left;
  margin-bottom: 2%;
}

/* Remove extra left and right margins, due to padding */
.row {
  width:100%;
 
  justify-content: space-evenly;
}

/* Responsive columns */
@media screen and (max-width: 1000px) {
  .card_inside {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 700px) {
  .card_inside {
    width: 100%;
    margin-bottom: 20px;
  }
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card_outer{
  border-radius: 20px;
  border-color:rgba(0, 0, 0, 0.2);
  border-width: 2px;
  width: 100%;
  height: 100%; 
  overflow: auto;
  padding-top:10px;
  box-shadow: 0 -4px -8px 0 rgba(0, 0, 0, 0.2);
}


 /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*#footer {
  font-size: 14px;
  background: #2e2e2e;
  margin-top: 40px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background:  #303133;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: white;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color:white;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: white;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}
*/
.footerWrap {
	background: #272727;
	padding: 50px 0;
}
.footerWrap h5 {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 15px;
}
.footerWrap p {
	line-height: 22px;
	color: #ccc;
}
.footerWrap .ft-logo {
	margin-bottom: 15px;
  text-align: center;
  float: right;
}
.social {
	margin-top: 20px;
}
.social a {
	color: #fff;
	font-size: 32px;
	display: inline-block;
	margin-right: 5px;
}
.social a:hover {
	color: #36b3e5;
}
.sidebar .social a {
	color: #444;
}
/*Articles*/
.posts-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.posts-list li {
	border: none;
	margin: 15px 0;
}
.posts-list .media-left {
	margin-right: 30px;
	width: 80px;
	float: left;
	padding-right: 0;
}
.posts-list .entry-title {
	font-weight: 400;
	text-transform: inherit;
	margin: 0 0 5px;
}
.post .entry-title a {
	color: #fff;
	font-size: 16px;
}
.posts-list .entry-meta {
	padding: 0;
}
.posts-list .entry-date {
 color: #ccc;
 font-style: italic;
 text-transform: capitalize;
}
.footerWrap .quicklinks {
 list-style: none;
}

.footerWrap .quicklinks li a {
 text-decoration:none ;
 display: block;
 color: #ccc;
 padding: 8px 5px 5px 0px;
 font-size: 14px;
}
.footerWrap .quicklinks li a:before {
 content: '\f0da';
 font-family: 'FontAwesome';
 margin-right: 7px;
}
.footerWrap .quicklinks li a:hover {
 color: #263bd6;
 text-decoration: none;
}
.copyright {
 padding: 10px 0;
 text-align: center;
 color: #777;
}
.copyright ul li{display:inline;}
.copyright ul li a {
 color: #555;
 padding: 0 5px;
 display: inline-block;
 margin: 5px;
}
.copyright a:hover {
	color: #000;
}
.bttxt {
	color: #888;line-height:24px;
}
/*copyright*/
.copyright {
	padding: 20px 0;
}